body {
    margin: 0;
}

h1 {
    font-family: arial;
    font-size: 27px;
    color: rgb(134, 88, 3);
    text-align: center;
}

.container {
    background-color: orange;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 3px rgb(156, 155, 155);
    margin: 0 auto;
    margin-top: 20px;
}

li {
    font-family: arial;
}

#input {
    width: 195px;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#input:focus {
    outline: none;
}

#calculate {
    cursor: pointer;
    width: 80px;
    height: 34px;
    font-size: 15px;
    padding-left: 5px;
    background-color: yellow;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    color: rgb(119, 118, 131);
}